@font-face {
    font-family: 'FrederickatheGreat-Regular';
    src: url('./font/FrederickatheGreat-Regular.ttf');
}



.heading{
    font-size: xxx-large;
    font-family:FrederickatheGreat-Regular ;
    text-align: center;
}
.text{

    font-size: larger;
    text-align: center;
    margin: 0 auto;
    font-family: cursive;
}
.strip{
    padding: 65px;
    background-color: #ededb8;
    position: relative;
    margin-top: 130px;
}
.choose-enjoy{
    padding-bottom: 90px;
}
.bread{
    display: flex;
    text-align: center;
    top: 199px;
    position: absolute;
}
.bold{
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}
.car1{width: 70%;

}
.car2{
    width: 72%;
    padding-top: 8px;
}
.car3{
    width: 70%;
}
.button{
    background-color: yellow;
    padding: 15px 35px;
    border: none;
    font-weight: 900;
}
.text2{
    font-family: cursive;
}
.choose-enjoy1{
    margin-right: 120px;
}
.choose-and-enjoy{
    width:33.33%;
}